include app/_app
doctype html
html(lang="es")
  head
    +head
    title GOAT MILK
    meta(name="description" content="LA LECHE DE CABRA ES EL INGREDIENTE IDEAL PARA CUIDAR LA BELLEZA DE TU PIEL")
  body
    +topbar

    section#inicio.animated.fadeIn
      .container
        .columns
          .column.is-4.is-offset-1.is-6-mobile.animated.fadeInLeft
            p.section.is-size-5.introtxt LA LECHE DE CABRA ES EL INGREDIENTE IDEAL PARA CUIDAR LA #[strong BELLEZA DE TU PIEL]
        .columns
          .column.is-8.animated.fadeInRight
            img(src="app/img/goat-milk-lotion.png" alt="Ultra Hydrating Body Lotion").bodylotion
    
    section#nature-moments.animated.fadeIn
      .container
        .columns: .column.has-text-centered
          h2 NATURE MOMENTS GOAT MILK
          p ¿Conoces los beneficios de la leche de cabra?
      .section.container
        .columns.has-text-centered.is-mobile.is-multiline
          .column.is-4-mobile: div.ico: img(src="app/img/ico-milk.png" alt="Goat Milk")
          .column.is-4-mobile: div.ico: img(src="app/img/ico-goat.png" alt="Goat Milk")
          .column.is-4-mobile: div.ico: img(src="app/img/ico-pills.png" alt="Goat Milk")
          .column.is-6-mobile: div.ico: img(src="app/img/ico-drop.png" alt="Goat Milk")
          .column.is-6-mobile: div.ico: img(src="app/img/ico-dna.png" alt="Goat Milk")
      .section.container
        .columns.is-centered: .column.is-7.has-text-centered
          p Esta comprobado que la leche de cabra es uno de los líquidos de la naturaleza con más vitaminas y proteínas que hidratan la piel.
    
    section.section#todas-las-edades.animated.fadeIn
      .container
        .columns
          .column.is-4.has-text-justified
            h2 NATURE MOMENTS GOAT MILK
            h3 ADECUADO PARA TODAS LAS EDADES
            p NATURE MOMENTS GOAT MILK es una línea de productos para toda la familia, sus formulas e ingredientres son adecuados para todas las edades.
            p Se recomienta para pieles con eczema, psoriasis o piel seca y con picazón.
            p A diferencias de leches provenientes de otros animales la leche de cabra tiene un PH similar al de los seres humanos por lo que es absorbido por la piel con menos irritación.
          .column.has-text-right
            img(src="app/img/goat-mlik-nature.jpg" alt="Para todas las edades")
    
    section.section#body-lotion.animated.fadeIn
      .container
        .columns
          .column.is-6.is-4-tablet.has-text-centered
            img(src="app/img/goat-mik-nature-moments.jpg" alt="Ultra Hydrating Body Lotion")
          .column.is-5.has-text-justified
            h2 #[strong ULTRA #[br] HYDRATING] #[br] BODY LOTION

            h3 Fórmula rica en leche de cabra y aceite escencial de verbena y limón.
            p Las vitaminas que contiene la crema corporal Nature Moments Goat Milk suaviza e hidrata los tipos de piel más sensibles. Favorece el buen mantenimiento de la piel, ayuda a combatir la sequedad cutánea y ofrece una sensación calmante.
            .columns.mindesc.is-mobile.has-text-left
              .column.is-3: .percent 0%
              .brd
              .column.is-5: p.desc Parabenos, sulfatos, colorantes y amidas.
              .brd
              .column: p.small Encuéntralo en Dermo Farmacia Liverpool®.
            p: small * Sujeto a disponibilidad en tienda.
      


    
    +footer
    
    +scripts
